<h1><%= @restaurant.name %></h1>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&sensor=false&maptype=roadmap&markers=color:purple|#{@restaurant.address}" %>
<h2>
  <%= pluralize @restaurant.reviews.size, "review" %>
</h2>
