<hr>
<h3 class="text-center">Add a Restaurant</h3>

<div>
  <%= simple_form_for([@restaurant], remote: true ) do  |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.button :submit%>
  <% end %>
</div>

