<h1>Restaurants</h1>
<ul class="restaurants_list">
  <% @restaurants.each do |restaurant| %>
    <%= render 'restaurants/restaurant', restaurant: restaurant %>
  <% end %>
</ul>

<%= render 'restaurants/form', restaurant: @restaurant %> 


<div>
  <h1 id="react_h1">React Baby !</h1>

  <%= react_component "RestaurantList",
      render(template: 'restaurants/restaurants.json.jbuilder'),
      prerender: true %>

</div>

